* {
  box-sizing: border-box;
  color: inherit;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

svg {
  shape-rendering: crispEdges;
}

html {
  scroll-behavior: smooth;
  font-family: 'Termina', Geneva, Tahoma, sans-serif;

  ::-webkit-scrollbar {
    width: 7px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #c7a1ff;
  }

  ::-webkit-scrollbar-track {
    background: #0e062d;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background: #b269ff;
    border-radius: 10px;
    padding: 1px;
  }

  scrollbar-width: thin;
  scrollbar-color: #b269ff #0e062d;
}

body {
  @apply bg-midnight text-white;
  font-family: 'Termina', Geneva, Tahoma, sans-serif;
  font-style: normal;
  overflow-x: hidden;
}

main {
  min-height: 500px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
}

@layer base {
  h1 {
    @apply text-m3xl;
    @media screen and (min-width: 480px) {
      @apply text-3xl;
      & > .break {
        display: none;
      }
    }

    @media screen and (max-width: 786px) {
      font-size: max(28px, 4vw);
    }
  }
  h2 {
    font-size: 1.5rem;
    line-height: 1.583;
    font-weight: 600;
    letter-spacing: 0.0625rem;

    @media screen and (min-width: 768px) {
      @apply text-2xl;
    }
  }

  h3 {
    @apply text-md;
    @media screen and (min-width: 768px) {
      @apply text-xl;
    }
  }
  h4 {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.75rem;
    @media screen and (min-width: 768px) {
      @apply text-lg;
    }
  }
  h5 {
    @apply text-base font-Grotesk;
  }
  p {
    @apply font-Grotesk;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.4375rem;

    @media screen and (min-width: 768px) {
      @apply text-base;
    }
  }
}

a {
  transition: all 0.2s ease-in-out;
}
.icon {
  transition: all 0.2s ease-in-out;
  position: relative;
  &:hover {
    filter: brightness(1.35);
  }
}

.font-outline {
  font-feature-settings: 'clig' off, 'liga' off;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  color: transparent;
}

.gradient-bg {
  position: absolute;
  max-height: 800px;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(14, 6, 45, 1) 95%
    ),
    url('~@images/gradient-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  @media screen and (max-width: 768px) {
    max-height: 200px;
  }
}

.bg-gradient {
  background: linear-gradient(270deg, #452faa 0%, #b269ff 100%);
}

.loader {
  display: none;
  scale: 0.75;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #452faa 94%, #0000) top/8px 8px
      no-repeat,
    conic-gradient(#0000 30%, #452faa);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}
