#documents {
  .doc-items {
    li {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        opacity: 0.3;
        @apply bg-indigo;
      }

      &:first-child {
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 2px;
          opacity: 0.3;
          @apply bg-indigo;
        }
      }
    }
  }
}

.border-list {
  li {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      opacity: 0.3;
      @apply bg-indigo;
    }

    &:first-child {
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        opacity: 0.3;
        @apply bg-indigo;
      }
    }
  }

  &.border-list-silver {
    li {
      position: relative;

      &::after {
        @apply bg-silver;
      }

      &:first-child {
        &::before {
          @apply bg-silver;
        }
      }
    }
  }

  &.border-list-light {
    li {
      &::after {
        opacity: 1;
      }

      &:first-child {
        &::before {
          opacity: 1;
        }
      }
    }
  }

  &.border-list-ultramarine {
    li {
      &::after {
        @apply bg-ultramarine;
        height: 1px;
        opacity: 1;
      }

      &:first-child {
        &::before {
          @apply bg-ultramarine;
          height: 1px;
          opacity: 1;
        }
      }
    }
  }
}

.line-bg {
  position: absolute;
  top: 0;
  left: -80%;
  width: 200%;
  height: auto;
  z-index: -3;
  opacity: 0.65;
  @include sm {
    top: -10%;
    left: -10%;
    width: 60%;
  }
}

.zig-zag {
  @include sm {
    clip-path: url(#zig);
  }
}

.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.contact {
  .line-bg {
    top: 10%;
    z-index: 0;
  }
}
