#documents {
  .doc-items {
    li {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        opacity: 0.3;
        @apply bg-indigo;
      }

      &:first-child {
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 2px;
          opacity: 0.3;
          @apply bg-indigo;
        }
      }
    }
  }
}

.border-list {
  li {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      opacity: 0.3;
      @apply bg-indigo;
    }

    &:first-child {
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        opacity: 0.3;
        @apply bg-indigo;
      }
    }
  }

  &.border-list-silver {
    li {
      position: relative;

      &::after {
        @apply bg-silver;
      }

      &:first-child {
        &::before {
          @apply bg-silver;
        }
      }
    }
  }

  &.border-list-light {
    li {
      &::after {
        opacity: 1;
      }

      &:first-child {
        &::before {
          opacity: 1;
        }
      }
    }
  }

  &.border-list-ultramarine {
    li {
      &::after {
        @apply bg-ultramarine;
        height: 1px;
        opacity: 1;
      }

      &:first-child {
        &::before {
          @apply bg-ultramarine;
          height: 1px;
          opacity: 1;
        }
      }
    }
  }
}

.line-bg {
  position: absolute;
  top: 0;
  left: -80%;
  width: 200%;
  height: auto;
  z-index: 0;
  opacity: 0.45;
  @include sm {
    left: -10%;
    width: 60%;
  }
}

.zig-zag {
  @include sm {
    clip-path: url(#zig);
  }
}

.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.contact {
  .line-bg {
    top: 10%;
    z-index: 0;
  }
}

.team-member-single {
  position: relative;
  .line-bg {
    left: 0;
    bottom: 0;
    z-index: 0;
  }

  .grid {
    position: relative;
    z-index: 1;
  }
}

.page-header {
  .line-bg {
    @include sm {
      top: -30%;
      width: 67%;
    }
  }
}

.disclaimer {
  p {
    @apply text-sm;
  }

  @include m-xs {
    p {
      font-size: 12px !important;
    }
  }
}

.Termina {
  p {
    font-family: 'Termina', sans-serif;
  }
}

.about-cta {
  @include sm {
    .about-cta-items {
      a:first-child {
        &::after {
          @apply bg-ultramarine;
          content: '';
          position: absolute;
          top: 50%;
          right: 50%;
          transform: translate(50%, -50%) rotate(335deg);
          height: 70%;
          max-height: 165px;
          width: 1px;
        }
      }
    }
  }
}

.exposure-list {
  @include m-sm {
    li {
      font-size: 13px !important;

      span.name {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: clamp(11px, 2vw, 16px);
      }

      span.y {
        font-size: clamp(11px, 2vw, 16px);
        white-space: nowrap;
      }
    }
  }
}
